/* External CSS style file */

* {
  box-sizing: border-box;
}

:root {
  --background-color: #ddd;
  --text-color: #ddd;
  --box-color: #fff;
  --box-shadow-color: rgba(0, 0, 0, 0.1);
}

body {
  font-family: Arial;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h2 {
  font-size: 30px;
}

/* Style the top navigation bar */

.topnav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #38414b;
  padding: 15px 20px;
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  overflow: auto;
  text-wrap: nowrap;
}

.topnav .logo a {
  text-decoration: none;
  font-size: 30px;
  color: white;
  font-weight: bold;
  padding: 0;
}

/* Style the topnav links */

.topnav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.topnav ul li {
  margin-left: 20px;
}

.topnav ul li a {
  color: white;
  text-decoration: none;
  font-size: 17px;
  transition: color 0.3s ease;
  padding: 10px;
}

.topnav ul li a:hover {
  color: #b7bbc1;
}

/* Header (div) formatting */

.page-content{
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
}

.content-header {
  background-color: var(--box-color);
  font-size: larger;
  box-shadow: 0 0 5px var(--box-shadow-color);
  margin: 0.5rem 0.5rem 0 0.5rem;
  display: flex;
  justify-content: center;
  border-radius: 5px;
}

.content-header_title {
  align-self: center;
}

.main {
  display: flex;
  flex: 1;
}

/* Sidebar formatting */

.Filter-heading {
  margin: 0;
  padding: 0;
  background-color: #1e2530;
  border-radius: 5px;
  padding: 5px;
  text-align: center;
} 

.Filter-heading h2 {
  font-size: 30px;
  padding: 5px;
  margin: 0;
  color: white;
}

.Countries_box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Countries_box h2 {
  font-size: 1.2rem;
}

.CountryButton {
  display: block;
  padding: 0px 4px 0px 4px;
  border: none;
  background-color: transparent;
}

.Countries_box i {
  font-size: 1.2rem;
  color: #38414b;
  cursor: pointer;
  padding: 0%;
  margin: 0%;
  transition: color 0.3s ease;
}

.Countries_box i:hover {
  color: #7c7c7c;
}

.container mt-5 {
  max-height: 105px;
  overflow-y: auto;
}

.sidebar {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem;
  width: 16%;
  min-width: 200px;
  max-height: 80vh;
  height: 80vh;
  overflow-y: auto;
  overflow-x: hidden;
}

form {
  padding: 0;
  margin: 0;
}

.box {
  background-color: var(--box-color);
  padding: 1.35rem 1rem;
  box-shadow: 0 0 5px var(--box-shadow-color);
  border-radius: 5px;
}

.box_title {
  font-size: 1.2rem;
  margin-top: 0;
}

.box_list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.box_list-item {
  margin-top: 0.5rem;
}

.filters {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 0;
}

.form_label_column {
  display: flex;
  white-space: nowrap;
  align-items: center;
  gap: 0.5rem;
  width: 75%;
  cursor: pointer;
}

.form_label {
  display: flex;
  white-space: nowrap;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}

.form_label1 {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}

.Year-select-name {
  width: 40%;
  min-width: 70px;
}

.Year-select {
  width: 45%;
  min-width: 73px;
}

.filters input[type="number"] {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

.filters input[type="checkbox"] {
  margin-right: 0.5rem;
  cursor: pointer;
}

/* Button Styling */

.box .submitbutton {
  padding: 10px 20px;
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  background-color: #0e69ca;
  color: white;
}

.box .submitbutton:hover {
  background-color: #0e69caae;
}

/* Content Styling */

.content {
  padding: 0.5rem 0.5rem 0.5rem 0;
  width: 84%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  max-height: 100%;
  overflow-x: auto;
}

.main-content {
  background-color: var(--box-color);
  box-shadow: 0 0 5px var(--box-shadow-color);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  max-height: 75vh;
  height: 75vh;
}

.content .results-top {
  padding: 2rem 2.4rem 1rem;
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
  overflow-x: auto;
  min-height: 80px;
}

.results {
  display: flex;
  flex: 1;
  justify-content: left;
  align-items: center;
  height: 100%;
}

.columns {
  display: flex;
  margin: 0;
  padding: 0px 0px 0px 10px;
  padding-bottom: 0px;
  font-size: 1.2rem;
  font-weight: bold;
  color: #1e2530;
}

.results_title {
  display: flex;
  margin: 0;
  padding: 0;
  font-size: 2rem;
  font-weight: bold;
  color: #555;
}

.help-icon {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
  height: fit-content;
  width: fit-content;
}

.tooltip {
  font-family: Arial;
  position: absolute;
  left: 500%;
  transform: translateX(-50%);
  padding: 10px;
  background-color: #1e2530;
  color: white;
  font-size: 14px;
  line-height: 1.4;
  border-radius: 3px;
  white-space: normal;
  word-wrap: break-word;
  width: 240px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
}

.tooltip::after {
  content: "";
  position: absolute;
  bottom: 37%; /* At the bottom of the tooltip */
  left: -5%;
  margin-left: 2.2px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent #1e2530 transparent transparent;
}

.results i {
  font-size: 1.75rem;
  color: #38414b;
  cursor: pointer;
  padding: 0 0 0 5px;
  margin: 0%;
  transition: color 0.3s ease;
}

.results i:hover {
  color: #7c7c7c;
}

.help-icon:hover .tooltip {
  opacity: 1;
  visibility: visible;
}

.tooltip-heading {
  font-weight: bold;
  padding: 0 0 5px;
  margin: 0;;
}

.sort-by {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  white-space: nowrap;
}

.sort-by_select {
  margin-left: 0;
  padding: 0.5rem; /* Add padding to the select box */
  border: 1.5px solid #ccc; /* Border for the select box */
  border-radius: 4px; /* Rounded corners */
  font-size: 16.5px; /* Font size */
  background-color: white; /* Background color */
  cursor: pointer;
}

/* Table Styling */

.table {
  margin: 0rem 2rem 0rem;
  overflow-y: auto;
  display: flex;
  min-width: none;
}

.table input {
  display: none;
}

.table th {
  position: sticky;
  top: -0.1px;
  border: 1px solid black;
}

.table label:after {
  content: "▼";
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  transition: transform 0.3s ease;
  color: #38414b;
}

.table label {
  display: block;
  cursor: pointer;
  position: relative;
}

.table .loss {
  text-align: right
}

.table .parent {
  width: 40%;
}


.table input:checked + label:after {
  transform: translateY(-50%) rotate(180deg);
}

.table_content {
  width: 99%;
  margin: 5px 5px 5px;
  border-collapse: collapse;
}

.table_content thead {
  background-color: #38414b;
  color: white;
}

.table_content th {
  padding: 0.5rem;
  border: 1px solid black;
  text-align: center;
  font-size: 1.15rem;
  background-color: #38414b;
  color: white;
  z-index: 9;
}

.table_content td {
  padding: 0.5rem;
  border: 1px solid black;
  text-align: left;
  font-size: 1.10rem;
}

.table_content .hidden_row {
  padding: 0.5rem;
  border: 1px solid black;
  text-align: left;
  display: none;
  transform: expand 0.3s ease;
}

.table_content tr:nth-child(odd) {
  background-color: whitesmoke;
}

/* Inner Year table styling */

.table_content_year_container {
  width: 90%;
  min-width: none;
  display: flex;
  flex-direction: column;
  max-height: 40vh;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 1rem 1.3rem 1rem;
}

.table_content_year {
  padding: 0;
  width: 99%;
  margin: 5px 5px 5px;
  border-collapse: collapse;
}

.table_content_year th {
  padding: 0.5rem;
  border: 1px solid black;
  text-align: center;
  font-size: 1.05rem;
  background-color: #ccd4dc;
  color: black;
  z-index: 6;
}

.table_content_year td {
  padding: 0.5rem;
  border: 1px solid black;
  text-align: left;
  font-size: 1.0rem;
}

.table_content_year tr:nth-child(odd) {
  background-color: #e7f5ff;
}

/* Styling the inner commodity table */

.table_content_commodity_container {
  width: 90%;
  min-width: none;
  display: flex;
  flex-direction: column;
  max-height: 30vh;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 1rem 1.3rem 1rem;
}

.table_content_commodity {
  width: 99%;
  padding: 0%;
  margin: 5px 5px 5px;
  border-collapse: collapse;
}

.table_content_commodity td:nth-child(n) {
  background-color: #f1f3f5;
  color: black;
}

.table_content_commodity th {
  padding: 0.5rem;
  border: 1px solid black;
  text-align: center;
  font-size: 1.0rem;
  background-color: #6d7682;
  color: white;
  z-index: 3;
}

.table_content_commodity td {
  padding: 0.5rem;
  border: 1px solid black;
  text-align: left;
  font-size: 0.95rem;
}

.information-help {
  display: flex;
  flex-direction: row;
  vertical-align: text-bottom;
  align-self: flex-end;
  cursor: pointer;
  padding: 0px;
  margin: 0px;
  margin-top: auto;
}

.information-help i {
  display: flex;
  color: #38414b;
  padding: 1rem 2rem 1rem 0rem;
  font-size: 1.3rem;
  transition: color 0.3s ease;
}

.text-information {
  display: flex;
  font-weight: bold;
  color: #38414b;
  padding: 1rem 0.5rem 1rem;
  font-size: 1.1rem;
  transition: color 0.3s ease;
}

.similarity-help:hover i, .similarity-help:hover .text-similarity{
  color: #7c7c7c;
}

.tooltip2 {
  font-family: Arial;
  position: absolute;
  bottom: 11%;
  right: -96%;
  text-align: left;
  font-weight: normal;
  padding: 30px 30px 30px 60px;
  background-color: #f5f5f5;
  color: black;
  font-size: 17px;
  line-height: 1.6;
  white-space: normal;
  word-wrap: break-word;
  width: 100vh;
  min-width: 30vh;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
  z-index: 1000;
  margin-right: 100%;
  border: 1.5px solid #38414b;
  border-radius: 8px;
}

.tooltip2 ul {
  padding: 0;
  margin: 0;
}

.tooltip2 li {
  padding: 0px 20px 20px;
  margin: 0;
}

.tooltip2 h3 {
  font-size: 1.4rem;
  padding: 20px 0px;
  margin: 0;
}

.information-help:hover .tooltip2 {
  visibility: visible;
  opacity: 1;
}

/* Style the footer */
.footer {
  padding-left: 20px;
  margin-top: auto;
}
